<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<meta charset="UTF-8">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Link google fonts -->
	<link href="https://fonts.googleapis.com/css?family=BioRhyme+Expanded" rel="stylesheet">
	<!-- Link main CSS file -->
	<link rel="stylesheet" type="text/css" href="assets/css/burger_style.css" />
	<title>Burgers!</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
